/* 本番環境で適用されなかったら、cssファイルを作る　*/

a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Pacifico&family=Sawarabi+Mincho&display=swap');

/* トップページの帯 */

.top-content {
  width: 100vw;
  height: 50vh;
  background-image: image-url('miyako.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: rgb(33, 200, 206);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.top-title {
  font-family: 'Pacifico', cursive;
  font-size: 5vh;
}

.middle-content{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.inner{
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.example{
  background-color: #fff;
}

.ex-parent{
  display: flex;
  margin-left: 650px;
  padding-top: 100px;
  font-family: 'Pacifico', cursive;
  border-left-style: dotted;
  border-left: rgba(0, 0, 0, 0.9);
  font-size: 30px;
  background-color: #fff;
}

.image{
  display: flex;
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

.ex-child{
  width: 500px;
  margin-top: 10px;
  margin-left: 500px;
  margin-bottom: 100px;
  background: repeating-linear-gradient(rgba(31, 77, 230, 0) 0, rgba(255, 255, 255, 0) 23px, rgb(16, 44, 202) 23px, rgba(65, 89, 230, 0.644) 24px);
  background-size: auto 2rem;
  font-family: 'Sawarabi Mincho', sans-serif;
  background-color: #fff;
  font-size: 15px;
}

.ex-child p {
  line-height: 2rem;
  margin-top: 0;
}

.achievement{
  position: relative;
  padding-top: 300px;
  height: 480px;
  width: 100%;
  display: flex;
  background-color: #fff;
}

.left-achi{
  position: absolute;
  width: 500px;
  height: 200px;
  margin-left: 100px;
  background-color: rgba(248, 231, 197, 0.404);
  line-height: 1.5em;
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.left-con{
  margin-top: 3px;
  margin-left: 10px;
}

.right-achi{
  position: absolute;
  width: 500px;
  height: 200px;
  margin-top: 3px;
  margin-left: 500px;
  line-height: 1.5em;
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.add-value{
  position: absolute;
  width: 500px;
  height: 200px;
  margin-top: 33px;
  margin-left: 550px;
  line-height: 1.5em;
  font-size: 20px;
  color: red;
  font-family: 'Kosugi Maru', sans-serif;
}

.right-content{
  margin-left: 800px;
  line-height: 1.5em;
  font-size: 18px;
  font-family: 'Kosugi Maru', sans-serif;
}