<%= render "shared/header" %>
<div class='main'>

  <%# トップページの帯 %>
  <div class='top-content'>
    <h2 class='top-title'>
      Let's enjoy your life
    </h2>
    <%# <%= link_to image_tag("miyako.jpg", class:"miyako"), "#" %>
  </div>

  <%# メッセージ %>
  <div class='middle-content'>
   <span class='maessage'>Massage</span>
  </div>

  <div class='inner'>
    <div class='inner-top'>
    日々コツコツと自分を成長させよう
    </div>
    <div class='inner-center'>
    成長を可視化することにより、自分がどれだけ成長しているのか
    </div>
    <div class='inner-bbottom'>
    実感してください
    </div>
  </div>

  <%# 達成項目の例%>
  <div class='achievement'>
    <div class='left-achi'>
      <div class='left-con'>
        <p>ex) 身につけたいスキル</p>
        <p>プログラミング能力</p>
        <p>コミュニケーション力</p>
        <p>英語力</p>
        <p>ビジネス知識</p>
        <p>雑学力</p>
      </div>
    </div>

    <div class='right-achi'>
    <p>能力値</p>
    <p>0</p>
    <p>0</p>
    <p>0</p>
    <p>0</p>
    <p>0</p>
    </div>

    <div class='add-value'>
    <p>+1</p>
    <p>+1</p>
    <p>+1</p>
    <p>+1</p>
    <p>+1</p>
    </div>

    <div class='right-content'>
    <p>
    これから身につけていく、スキルを1〜5個考えてみましょう
    </p>
    <p>
    ※左記は一例です
    </p>
    <p>
    チェックボックスにチェックを入れると、項目を達成したことになります
    </p>
    <p>
    項目を達成するごとに、自身のレベルが上がっていきます
    </p>
    </div>
  </div>

  <%# チェックボックスの例 %>
  <div class='example'>
    <div class='ex-parent'>
      example
    </div>

    <div class='ex-child'>
      <p>ex) プログラミング能力</p>
      <p><input type='checkbox'>
      CSSでflexboxを学習した
      </p>

      <p><input type='checkbox'>
        Rubyでifを使い条件分岐させてみた
      </p>

      <p><input type='checkbox'>
        画像投稿機能を実装してみた
      </p>

      <p><input type='checkbox'>
        deviseを導入して、ユーザー管理機能を実装してみた
      </p>

      <p><input type='checkbox'>
        MVCの流れを学習した
      </p>
    </div>
    <div class='level-image'>
      <img src="app/assets/images/level-up.png" class="image">
    </div>
  </div>

  <div class='level'>
  </div>

</div>

<%= render "shared/footer" %>